communities/organization/AS1/application/node_modules/
communities/organization/AS1/contract/node_modules/
communities/organization/AS1/identity/user/
communities/organization/digibank/application/node_modules/
communities/organization/digibank/contract/node_modules/
communities/organization/digibank/identity/user/
package-lock.json
.vscode
\.idea/
